// out: main.min.css


.form-group {
  clear: both;
}

#LoadingImage {
  position: absolute;
  display: none;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

//listagem de capas na main page
.albumThumb {
  //
  cursor: pointer;
  .albumCover {
    //
    img {
      width: 100%;
    }

  }

  .albumViewInfo {
    //
    .btn {
      display: block;
      width: 100%;
      text-align: center;
    }

  }

}

.albumBox {
  padding: 20px 0;
}

//form de criação de novo album
#artistImgBlocks {
  //
  .artistImgBlock {
    float: left;
    .artistImg {
      display: block;
      margin: 5px;
      cursor: pointer;
    }

    span {
      text-align: center;
      font-weight: bold;
      display: block;
    }

    .artistImg.active {
      border: 2px solid red;
    }
  }
}

#albumImgBlocks{
  //
  .albumImgBlock{
    //
    .albumImg{
      display: block;
      margin: 0 auto;
      border: 2px solid transparent;
    }
    .albumName{
      display: block;
      text-align: center;
      min-height: 50px;
    }
    .albumTags{}
  }

  .albumImgBlock.active img{
    border: 2px solid red;
  }
}

.albumTags {
  span {
    margin: 5px;
  }
}

//info do album
.songs {
  display: block;
  padding: 10px 0;
}
#albumSingleContent {
  .cover img {
    display: block;
    margin: 0 auto;
  }
  .trackList{
    display: block;
    font-weight: bold;
    padding: 10px 0;
  }
}
